*.class

# Compiled class file
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.war
pom.xml.gpg
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Avoid ignoring Maven wrapper jar file (.mvn/wrapper/maven-wrapper.jar) if needed, but we can keep maven's default settings.

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.metadata/
bin/
tmp/
.tmp/
.classpath
.project
.settings/
.springBeans
.sts4-cache

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# React / Node
node_modules/
build/
.eslintcache
